<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Landing page</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./app.css">
</head>
<body>

<nav id="mainNavbar" class="navbar navbar-light bg-light navbar-expand-md py-1 fixed-top"">
  <a href="index.html" id="navbar-brand"><i class="fas fa-umbrella-beach"></i>
    Liveability</a>

<button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav col-sm-12 justify-content-end">
        <!-- <li class="nav-item">
            <a href="Howitworks.html" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
                <a href="Premium.html" class="nav-link">Premium</a>
            </li>
        <li class="nav-item">
            <a href="Tips.html" class="nav-link">Tips</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" href="#">Login</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" id="SignUp" href="#">Sign Up</a>
        </li>     -->
    </ul>
</div>


</nav>



