<%- include ("partials/header")
%>

<header>
    <h1>Liveability</h1>

    <form id="form2">
      <input
        type="text"
        id="search2"
        placeholder="Enter location"
      />
      <button>Search</button>
    </form>
  </header>

<div class="container-marinas">
    <div id="marina2">

    </div>
</div>

<!-- <script type="text/javascript" src="/js/scriptQOL.js"></script> -->
    <%- include ("partials/footer")
    %>

